.lt_cateLeft{
    width: 90px;
    height: 100%;
    float: left;
}
.lt_cateLeft ul{
    width: 100%;
}
.lt_cateLeft ul li{
    width: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background: #f3f4f5;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.lt_cateLeft ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #666;
    font-size: 12px;
}
.lt_cateLeft ul li.now{
    background: #fff;
    border-right: none;
}
.lt_cateLeft ul li.now a{
    color: red;
}
.lt_cateRight{
    height: 100%;
    overflow: hidden;
}
.lt_cateRight ul{
    width: 100%;
}
.lt_cateRight ul li{
    width: 33.3333%;
    float: left;
}
.lt_cateRight ul li a{
    display: block;
    width: 100%;
}
.lt_cateRight ul li a img{
    width: 60px;
    height: 60px;
    margin: 0 auto;
    display: block;
}
.lt_cateRight ul li a p{
    text-align: center;
    color: #666;
    font-size: 12px;
}